:root {
  /* Dark mode variables */
  --discovery-page-text-dark: #d1d4dd;
}

@font-face {
  font-family: "Wanderlust";
  src: url("../fonts/WanderlustRegular.woff") format("woff");
}

.create-search-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0 0.3rem 0;
  margin: 0 auto;
  max-width: 65%;
}

.create-text {
  padding-left: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.35rem;
  color: #ffffff;
}

.input-group-text {
  background-color: #ffffff00;
}

.no-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.no-results-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-results-container-noshow {
  display: none;
}

.no-results-shrug {
  font-family: sans-serif;
  font-size: 4.85rem;
  padding-bottom: 12x;
  color: #b2b5c0;
}

.no-results-text {
  font-family: "Hammersmith One", sans-serif;
  font-size: 2.65rem;
  font-style: italic;
  color: #b2b5c0;
}

/* card css */

.card-container {
  padding: 0.5rem 0 1.5rem;
  display: flex;
  justify-content: space-around;
}
.card {
  width: 65%;
  border-radius: 16px;
  min-height: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.card-top-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card input {
  border-width: 0;
}

.card input:focus {
  outline: none;
}

.card-title {
  margin-bottom: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #6e6c78;
  background-color: #197fd800;
}

.card-icon-section {
  display: flex;
}

.card-icon {
  margin: 0px 3.5px 0px 3.5px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #6e6c78;
}

.bi-post-angle:hover {
  color: #f09b4c; /* Change the color when hovered */
}

.card-hr {
  margin: 4px 0 4px 0;
}

.card-username {
  margin-right: 10px;
  margin-left: 7px;
  padding-top: 8px;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.05rem;
}

.post-updated {
  margin-left: 10px;
}

.card-location {
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #2887d9;
}

.card-text {
  font-family: "Source Sans Pro", sans-serif;
  color: #6e6c78;
}

.popover {
  background: #f56d6d !important;
}

.popover .popover-arrow::before,
.popover .popover-arrow::after {
  border-color: transparent !important; /* this example changes the arrow to orange color... You can always replace with any color you choose. */
  border-top-color: #f56d6d !important;
  border-bottom-color: #f56d6d !important;
}

.card-post-color {
  background-color: #323234;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

.date-hr {
  border-color: #ffffff;
}

.timestamp {
  color: var(--discovery-page-text-dark);
}

.bi-post {
  color: var(--discovery-page-text-dark);
}

.card-title {
  color: var(--discovery-page-text-dark);
}

.card-username, .post-updated {
  color: var(--discovery-page-text-dark);
}

.card-hr {
  border-color: white;
}
.card-text {
  color: #c5c9d6;
}

.form-control {
  background-color: #413e3e;
  border-color: #3a3a3b;
  color: var(--discovery-page-text-dark);
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px #10e310;
}

.form-control::placeholder {
  color: var(--discovery-page-text-dark);
}
